/**
 * Define style sheets for this application
 */
body {
  margin: 0;
  font-family: Roboto;
}
.page-content {
  padding: 1rem;
}

.tippy-box {
  background-color: rgba(97, 97, 97, 0.9);
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}
